name: JasperFx NuGet Manual Publish

on: [ workflow_dispatch ]

env:
  config: Release
  DOTNET_CLI_TELEMETRY_OPTOUT: 1
  DOTNET_SKIP_FIRST_TIME_EXPERIENCE: 1
  NUKE_TELEMETRY_OPTOUT: true

jobs:
  publish_job:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Install .NET 8.0.x
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: 8.0.x
          
      - name: Install .NET 9.0.x
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: 9.0.x
          
      - name: Install .NET 10.0.x
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: 10.0.x

      - name: Install .NET Aspire workload
        run: |
          dotnet workload update
          dotnet workload install aspire

      - name: Nuget Push
        run: ./build.sh NugetPush
        env:
          NugetApiKey: ${{ secrets.NUGET_API_KEY }}
